@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:250px;">
    <h1 class="display-4">ShareSomthing</h1>
    <p>Share something is application where people all over the world can share their opinion, by posting an article. <a href="/Articles/Index"><b>Go to articles</b></a>.</p>
</div>
